body {
    font-family: sans-serif;
    background-color: #6b6b6b;
}

#startButton {
    height: 80px;
    width: 200px;
}

#restartButton {
    height: 80px;
    width: 200px;
}

table {
    margin: auto;
    height: auto;
    width: auto;
    border: solid thin black;
    border-collapse: collapse;
}

td{
    height: 100px;
    width: 100px;
    border: solid thin black;
    background-color: #525252;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}